@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Purna Title';
  src: url(./assets/fonts/chaviera.otf) format('opentype');
}

@layer components {
  ::selection {
    @apply bg-primary text-light;
  }

  * {
    scrollbar-width: none;
  }

  .scroll {
    scrollbar-width: thin;
    /* scrollbar-width:initial; */
    scrollbar-color: #2980b9 transparent;
  }

  /* ::-webkit-scrollbar {
    @apply w-0;
  }

  .scroll::-webkit-scrollbar {
    @apply w-1 rounded-full bg-light;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary;
  } */

  body {
    @apply bg-white text-dark;
  }
  footer,
  main {
    @apply px-4 py-20 sm:py-28 md:px-12 md:py-[7.5rem] lg:py-[9rem];
  }

  nav {
    @apply px-4 md:px-6;
  }

  h1,
  h2,
  h3,
  .navlink {
    /* @apply font-title font-extralight; */
    @apply font-body;
  }

  h4,
  h5,
  h6,
  a,
  button,
  div {
    @apply font-body;
  }

  p,
  span,
  li {
    @apply font-body font-light;
  }

  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  .filter-black {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%)
      hue-rotate(327deg) brightness(96%) contrast(104%);
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-[#7adcff] to-[#004471];
  }

  .transition-300 {
    @apply transition-all duration-300 ease-linear;
  }

  .transition-700 {
    @apply transition-all duration-700 ease-in-out;
  }

  .transition-1000 {
    @apply transition-all duration-1000;
  }

  .navlink {
    @apply transition-300 inline-flex items-center font-body text-lg font-medium capitalize text-dark;
  }
}
