@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Purna Title';
    src: url(./assets/fonts/chaviera.otf) format('opentype');
}

@layer components {
    body {
        @apply bg-white;
    }

    main {
        @apply px-4 py-20 sm:py-28 md:px-12 md:py-[7.5rem] lg:py-[9rem];
    }

    nav {
        @apply px-4 md:px-12;
    }

    h1,
    h2,
    h3,
    .navlink {
        /* @apply font-title font-extralight; */
        @apply font-title font-extralight;
    }

    h4,
    h5,
    h6,
    a,
    button,
    div {
        @apply font-body font-semibold;
    }

    p,
    span,
    li {
        @apply font-body font-light;
    }

    .filter-white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .filter-black {
        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%);
    }

    .transition-300 {
        @apply transition-all duration-300 ease-linear;
    }

    .transition-700 {
        @apply transition-all duration-700 ease-in-out;
    }

    .transition-1000 {
        @apply transition-all duration-1000;
    }

    .navlink {
        @apply transition-300 font-body text-lg font-medium inline-flex items-center capitalize text-dark;
    }
}